*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
img{
       display: block;
       width: 100%;
       height: auto;
}

body{
       background-color: black;
       min-height: 100vh;
}
header{
       width: 100%;
}
header nav{
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       padding: 1.3rem 0.8rem;
}
header .logo{
       width: 60%;
}
header .logo img{
       width: 70%;
}
header .navbar{
       width: 40%;
}
header .navbar i{
       color: azure;
       margin-left: 80%;
       font-size: larger;
}
header .notice{
       width: 100%;
       background-color: rgb(226, 25, 92);
       padding: 1em;
       text-align: justify;
       color:whitesmoke;
       text-transform:capitalize ;
       font-size: 0.7rem;
       line-height: 1.8;
       font-weight: 700;
       display: flex;
       align-items: start;
}
header .notice .noticetext{
       width: 90%;
}
header .notice .noticecancel{
       font-weight: bold;
}
header .dropdownn{
       display: none;
}
header .dropdown{
       color: white;
       width: 100%;
       padding: 1em 2em;
       animation-name: slideformtop;
       animation-duration: 0.5s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: 1;
       transition: all;
       transform-origin: top;

}
@keyframes slideformtop{
       from{
              transform: scaleY(0);
       }
       to{
              transform: scaleY(1);
       }
}
header .dropdown ul{
       list-style: none;
       font-size: 1.1rem;
}
header .dropdown ul li{
       padding-top: 0.8em;
}
header .dropdown .dropdownsearch{
       background-color: whitesmoke;
       width: 100%;
       padding: 0.5em 1em;
       margin: 0.8em 0 0 0;
}
header .dropdown .dropdownsearch input{
       border: transparent;
}
header .dropdown .dropdownsearch input:focus{
       border: transparent;
       outline: transparent;
}
header .dropdown .dropdownsearch i{
       color: #4d4d4d;
}
main{
       width: 100%;
       min-height: 80vh;
}
.cards{
       width: 100%;
}
.card{
    position: relative;
    height: 200px;
    margin-top: 1em;
}
.card img{
       width:100%;
       height: 200px;
       position: absolute;
}

.card .writeup{
       position: absolute;
       width: 100%;
       display: flex;
       justify-content: space-between;
       bottom: 0;
       padding: 0 1em 0.5em;
       text-transform: capitalize;
       font-weight: 600;
       color: aliceblue;
       text-shadow: #4d4d4d 3px 3px;
}

footer{
       
       color: white;
       position: sticky;
       bottom: 0;
}
.formm{
       display: none;
       animation-name: slideforming;
       animation-duration: 0.5s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: 1;
       transition: all;
       transform-origin: top;
}
@keyframes slideforming{
       from{
              transform: scaleY(1);
       }
       to{
              transform: scaleY(0);
       }
}

footer .form{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       transition: all 2s;
       animation-name: slideformbottom;
       animation-duration: 0.5s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: 1;
       transition: all;
       transform-origin: bottom;
       
}
@keyframes slideformbottom{
       from{
              transform: scaleY(0);
       }
       to{
              transform: scaleY(1);
       }
}
footer form .fff{
       background-color: aliceblue;
       width: 90%;
       padding: 0.6em 0.2em;
       margin-bottom: 0.5em;
       display: flex;
       align-items: center;
}
footer form .fff i{
       color: #4d4d4d;
}
footer form .fff input{
      border: transparent;
      background-color: transparent;
      margin-left: 0.3em;
      text-transform: capitalize;
      font-weight: bold;
      width: 100%;
}
footer form .fff input:focus{
       outline: none;
}
footer form .fffs{
       background-color: rgb(226, 25, 92);
       width: 90%;
       padding: 0.6em 0.2em;
       margin-bottom: 0.5em;
       display: flex;
       justify-content: center;
       align-items: center;
       border: 1px solid black;
}
footer form .fffs button{
       background-color: transparent;
       border: transparent;
       color: aliceblue;
       font: 700;
       font-size: 1rem;
}
.footer{
       background-color: rgb(226, 25, 92) ;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
}
.footer .home{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 0.5em 0.2em;
}
.footer .home p{
       font-size: 1rem;
       text-transform: capitalize;
}
.footer .home i{
       font-size: 1.3rem;
}

@media screen and (min-width: 418px) {
       .cards{
              display:flex;
              width: 100%;
              flex-wrap: wrap;
              gap: 0.5em;
              justify-content: start;
              align-items: center;
              padding: 0em 0.5em;
       } 
       .card{
              position: relative;
              height: 120px;
              width: 200px;
              
          }
          .card img{
                 width:100%;
                 height: 120px;
                 position: absolute;
          }   
}